.game-wrapper {
  padding: 20px;
  width: 500px;
  float: left;
}

.jorge {
  background-image: url('/flappy-bird/assets/images/jorge-bird-small.png');
}

.container {
  width: 1040px;
  background-color: #fff;
  margin-top: 50px;
}

.scoreboard-wrapper {
  padding: 20px;
  width: 500px;
  float: left;
}

.scoreboard-wrapper h3 {
  font-size: 110px;
  color: #f06d06;
}

#scoreboard-table {
  width: 50%;
  font-size: 24px;
}

#scoreboard-table thead {
  color: #666;
  border-bottom: 1px solid #000;
}

#scoreboard-table tbody {
  text-align: left;
}

#scoreboard-table th {
  padding: 5px 30px;
  margin-bottom: 15px;
}

#scoreboard-table td {
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
}

.form input[type=text] {
  font-size: 26px;
  width: 70%;
  border: 3px solid #d9534f;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

.form label {
  color: #d9534f;
}

btn-danger {

}
